@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Garantir que o box-sizing seja aplicado de forma global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 50px; /* Ajustando o padding para não sobrecarregar o layout */
    width: 100%; /* Garantir que o container ocupe 100% da largura */
    margin: 0 auto; /* Centralizar o conteúdo */
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #3CB371;
    text-decoration: underline;
}

header {
    text-align: center;
    margin: 40px 0;
}

header h1 {
    color: #3CB371;
}

header p {
    color: #bbb;
    font-size: 1.2em;
}

.contact-info {
    margin-bottom: 40px;
}

.contact-info h3 {
    color: #3CB371;
    margin-bottom: 10px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin: 10px 0;
}

.contact-info a {
    color: #3CB371;
}

.contact-form {
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%; /* Garantir que o formulário ocupe toda a largura disponível */
    max-width: 100%; /* Evitar que o formulário ultrapasse os limites da tela */
}

.contact-form h3 {
    color: #3CB371;
    margin-bottom: 15px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.contact-item img {
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

.contact-item p {
    color: white;
    font-size: 1.2em;
    margin: 0;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.contact-form input,
.contact-form textarea {
    width: 100%; /* Garante que os campos de entrada ocupem toda a largura */
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #3CB371;
    border-radius: 4px;
    background-color: #333;
    color: white;
    font-size: 1em; /* Ajuste de tamanho da fonte para melhorar a legibilidade */
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    background-color: #3CB371;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 100%; /* O botão ocupará toda a largura disponível */
}

.contact-form button:hover {
    background-color: #2a8e56;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer img {
    width: 40px;
    height: 40px;
}

footer p {
    margin-top: 5px;
}
